<div class="filters">
    <div class="input-group">
        <select name="filter" id="filters" class="custom-select">
            <option value="All">No filter</option>
            <option value="images">Images</option>
            <option value="video">Video</option>
            <option value="audio">Audio</option>
            <option value="text">Text</option>
            <option value="views">Views</option>
            <option value="likes">Likes</option>
            <option value="dislikes">Dislikes</option>
            <option value="date created">Date Created</option>
            <option value="price">Prices</option>
        </select>
            <select name="order" id="order" class="custom-select">
                <option value="none">No order</option>
                <option value="descending">Descending Order</option>
                <option value="ascending">Ascending Order</option>
            </select>
    </div>
</div>
