<div class="container portfolio">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">				
          <button mat-raised-button class="m-1"><span class="badge">0</span> Followers</button>
          <button mat-raised-button class="m-1"><span class="badge">0</span> Following </button>
        </div>
      </div>	
    </div>
    <div class="bio-info">
    <facebook-content-loader *ngIf="userAccount === null && location === null" [primaryColor]="'#A9A9A9'" [secondaryColor]="'#D3D3D3'"></facebook-content-loader>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="bio-image">
                <img src="{{ userAccount?.profilePic }}" style="width: 200px" class="img-fluid" oncontextmenu="return false;" draggable="false"/>
              </div>			
            </div>
          </div>	
        </div>
        <div class="col-md-6">
          <div class="bio-content">
            <h2 *ngIf="userAccount?.owner">{{userAccount?.owner}}</h2>
            <h4 *ngIf="location"><span> {{location?.city}}, {{location?.country}}</span></h4>
            <h6 *ngIf="userAccount?.bio">{{userAccount?.bio}}</h6>
          </div>
        </div>
      </div>	
    </div>
  </div>
