<div class="container">
  <div class="container-fluid ml-4" style="margin-top: 150px">
    <div class="d-flex flex-row flex-nowrap">
      <div *ngFor="let account of foundAccounts">
        <div class="card card-body">
          <img [src]="account?.profilePic" alt="" class="img-fluid mx-auto d-block mb-1" style="width: 75px">
          <a [routerLink]="['/', account?.owner_id]" class="card-text text-center mb-1" style="color: black; text-decoration: none">{{account?.owner}}</a>
          <button mat-raised-button role="button" name="account?.owner" (click)="follow(account)" *ngIf="!account.alreadyFollowing()">Follow</button>
          <button mat-flat-button role="button" name="account?.owner" (click)="follow(account)" *ngIf="account.alreadyFollowing()">Unfollow</button>
        </div>
      </div>
    </div>
  </div>
</div>